{% extends "base.html" %}

{% block title %}
Ana Sayfa
{% endblock %}

{% block icerik %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Kullanıcıdan bilgi almak için form -->
            <div class="form-container p-4 rounded shadow" id="form-container" style="background: linear-gradient(135deg, #151716, #282928);">
                <h4 class="text-center" style="color: #fff; margin-bottom: 20px;">Bilgilerinizi Girin</h4>
                <form method="POST" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_ad" style="color: #fff;">Ad:</label>
                        <input type="text" id="id_ad" name="ad" class="form-control" style="border-radius: 15px; background-color: #2a2a2a; color: #fff; transition: all 0.3s;"/>
                    </div>
                    <div class="form-group">
                        <label for="id_soyad" style="color: #fff;">Soyad:</label>
                        <input type="text" id="id_soyad" name="soyad" class="form-control" style="border-radius: 15px; background-color: #2a2a2a; color: #fff; transition: all 0.3s;"/>
                    </div>
                    <div class="form-group">
                        <label for="id_dogum_tarihi" style="color: #fff;">Yaş:</label>
                        <input type="number" id="id_dogum_tarihi" name="dogum_tarihi" class="form-control" style="border-radius: 15px; background-color: #2a2a2a; color: #fff; transition: all 0.3s;"/>
                    </div>
                    <div class="form-group">
                        <label for="id_kilo" style="color: #fff;">Vücut Ağırlığı:</label>
                        <input type="number" id="id_kilo" name="kilo" class="form-control" style="border-radius: 15px; background-color: #2a2a2a; color: #fff; transition: all 0.3s;"/>
                    </div>
                    <div class="form-group">
                        <label for="id_boyUzunlugu" style="color: #fff;">Boy Uzunluğu:</label>
                        <input type="number" id="id_boyUzunlugu" name="boyUzunlugu" class="form-control" style="border-radius: 15px; background-color: #2a2a2a; color: #fff; transition: all 0.3s;"/>
                    </div>
                    <div class="form-group">
                        <label for="id_kacAylik" style="color: #fff;">Kaç aylık yazılmak istiyorsunuz?</label>
                        <input type="number" id="id_kacAylik" name="kacAylik" class="form-control" style="border-radius: 15px; background-color: #2a2a2a; color: #fff; transition: all 0.3s;"/>
                    </div>
                    <div class="form-group">
                        <label for="id_ekstra_aciklama" style="color: #fff;">Eklemek istedikleriniz:</label>
                        <textarea id="id_ekstra_aciklama" name="ekstra_aciklama" class="form-control" rows="3" style="border-radius: 15px; background-color: #2a2a2a; color: #fff; transition: all 0.3s;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-block" style="background-color: #ff7f50; color: #fff; border-radius: 25px; padding: 10px; transition: background-color 0.3s; font-weight: bold;" id="submit-btn">Gönder</button>
                </form>
            </div>

            <!-- Chatbox görünürlüğü -->
            <div class="chat-container mt-4 rounded shadow" style="background-color: #121212; border-radius: 15px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); display: none;" id="chatbox-container">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #ffab40; margin-bottom: 20px;">Soru Sor</h5>
                    <div id="loading-message" style="color: #ffab40; text-align: center; display: none; margin-bottom: 10px;">
                        <p>Size uygun fitness programı hazırlanıyor...</p>
                        <div class="loader"></div>
                    </div>
                    <div id="chatbox" class="border p-3 mb-3 rounded" style="height: 300px; overflow-y: auto; background-color: #1e1e1e; color: #e0e0e0; border-radius: 15px; margin-bottom: 20px;">
                        <!-- Chat messages will appear here -->
                    </div>
                    <div class="input-group">
                        <input type="text" id="user-input" class="form-control" placeholder="Buraya yazın..." style="background-color: #2a2a2a; color: #fff; border-radius: 20px; padding: 10px;" />
                        <button id="send-btn" class="btn" style="background-color: #ff7f50; color: #fff; border: none; border-radius: 20px; padding: 10px; transition: background-color 0.3s;">Gönder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .loader {
        border: 8px solid #f3f3f3; /* Açık gri */
        border-top: 8px solid #ff7f50; /* Turuncu */
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite; /* Dönme animasyonu */
        margin: 10px auto; /* Ortalamak için */
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

<!-- Chatbox için JS -->
<script>
    const sendButton = document.getElementById('send-btn');
    const chatbox = document.getElementById('chatbox');
    const userInput = document.getElementById('user-input');
    const submitButton = document.getElementById('submit-btn');
    const chatboxContainer = document.getElementById('chatbox-container');
    const formContainer = document.getElementById('form-container');
    const loadingMessage = document.getElementById('loading-message');

    let fitnessProgramMessageDisplayed = false; // Mesajın bir kez gösterilip gösterilmeyeceğini kontrol etmek için

    if (submitButton) {
        submitButton.addEventListener('click', function() {
            // Formu gizle
            formContainer.style.display = 'none';

            // Yükleniyor mesajını göster
            loadingMessage.style.display = 'block';

            // Chatbox'ı görünür yap
            chatboxContainer.style.display = 'block';
            chatbox.scrollTop = chatbox.scrollHeight;

            // 2 saniye bekledikten sonra chatbox içeriğini güncelle
            setTimeout(() => {
                // Yükleniyor mesajını gizle
                loadingMessage.style.display = 'none';

                // Kullanıcı mesajını gösterme sadece bir kez
                if (!fitnessProgramMessageDisplayed) {
                    const infoMessage = document.createElement('div');
                    infoMessage.innerHTML = `<strong style="color: #ffab40;">Sohbet etmeye başlayın:</strong>`;
                    infoMessage.style.marginBottom = '10px';
                    infoMessage.style.backgroundColor = '#1e1e1e';
                    infoMessage.style.color = '#e0e0e0';
                    infoMessage.style.borderRadius = '15px';
                    infoMessage.style.padding = '10px';
                    infoMessage.style.textAlign = 'left';
                    chatbox.appendChild(infoMessage);
                    chatbox.scrollTop = chatbox.scrollHeight;
                    fitnessProgramMessageDisplayed = true; // Mesajın gösterildiğini işaretle
                }

            }, 2000);
        });
    }

    if (sendButton) {
        sendButton.addEventListener('click', function() {
            const userMessage = userInput.value;
            if (userMessage.trim() === '') return;

            // Kullanıcı mesajını gösterme
            const userMessageDiv = document.createElement('div');
            userMessageDiv.innerHTML = `<strong>Kullanıcı:</strong> ${userMessage}`;
            userMessageDiv.style.marginBottom = '10px';
            userMessageDiv.style.color = '#e0e0e0';
            userMessageDiv.style.textAlign = 'left';
            chatbox.appendChild(userMessageDiv);
            chatbox.scrollTop = chatbox.scrollHeight;

            // Kullanıcı giriş kutusunu temizle
            userInput.value = '';
        });
    }
</script>
{% endblock %}
